<<<<<<<< HEAD:.gitignore
# Logs
/backend/node_modules
/frontend/node_modules
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
========
>>>>>>>> e34a281d4fe4108fb8206b6e937adcc560eb0698:frontend/.gitignore

